/* CSS */
.sign-in-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    background-image:url('../../../public/img/login/bookSignInBG.avif');
    background-size: cover;
    background-position: center;
}


.component-1 {
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.component-1 img {
    display: block;
    margin: 0 auto 20px;
}

.sign-in-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.sign-in-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

.sign-in-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.recover, .acc-create {
    text-align: center;
    margin: 20px 0;
}

.recover a, .acc-create a {
    color: #007BFF;
}

.recover a:hover, .acc-create a:hover {
    color: #0056b3;
}